<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <meta name="description" content="Reconcilers International">
    <title>Reconcilers International</title>
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="../fonts/font-awesome-4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <!-- Navbar section -->
  <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo logo"><img src="../images/nav1.png" alt=""><span>Reconcilers International</span></a>
          <a href="#" data-activates="mobile-view" class="button-collapse">
            <i class="hamburger"></i>
            <i class="hamburger one"></i>
            <i class="hamburger two"></i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="../index.html">Home</a><div></div></li>
            <li><a href="../about.html">About-Us</a><div></div></li>
            <li><a href="../events.html">Events</a><div></div></li>
            <li><a href="../blogs.html">Blogs</a><div></div></li>
            <li><a href="../gallery.html">Gallery</a><div></div></li>
            <li class="cus-btn"><a href="payment.php">Donate</a></li>
          </ul>
          <ul class="side-nav" id="mobile-view">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About-Us</a></li>
            <li><a href="events.html">Events</a></li>
            <li><a href="blogs.html">Blogs</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li class="cus-btn"><a href="payment.php">Donate</a></li>
          </ul>
        </div>
    </nav>
  </div>
  <!-- Navbar Section end -->
 <!-- Admin-Nav -->
 <div class="admin-info">
    <nav>
      <ul class="ad-info">
        <li class="admin-img">
          <img src="../images/passport.png" alt="">
        </li>
        <li class="admin-name"><span>Eric Kojo Abbey</span></li>
      </ul>
    </nav>
 </div>
 <div class="admin-nav">
  <nav>
    <a href="#!" class="dashboard"><span><i class="fa fa-dashboard"></i></span><span>Admin Panel</span></a>
    <ul>
      <li><a href="index.html"><span class="icon"><i class="fa fa-home"></i></span><span class="icon-text">Home</span></a></li>
      <li class=""><a href="admin-post.html"><span class="icon"><i class="fa fa-newspaper-o"></i></span><span class="icon-text">Manage Post</span></a></li>
      <li class="active"><a href="admin-event.html"><span class="icon"><i class="fa fa-calendar"></i></span><span class="icon-text">Manage Events</span></a></li>
      <li><a href="#"><span class="icon"><i class="fa fa-camera"></i></span><span class="icon-text">Add Media</span></a></li>
       <li><a href="#"><span class="icon"><i class="fa fa-power-off"></i></span><span class="icon-text">Logout</span></a></li>
    </ul>
  </nav>
 </div>
 <!-- End Admin-Nav -->
 <!-- main  -->
 </div>
<div class="row">
  <div class="col s12 m12 l10 offset-l1 z-depth-2 al-post">
    <div class="row breadcrumbs">
      <div class="col s12 m12 l12"><p>Manage Event // All Post</p></div>
    </div>
    <div class="al-post-head">
      <p>All Events Upcoming</p>
    </div>
    <div class="al-events">
        <table>
            <tr>
                <th>Name</th>
                <th>In</th>
                <th>By</th>
                <th>...</th>
            </tr>
            <tr>
                <td>Palm Sunday</td>
                <td>30 days</td>
                <td>Reconcilers Int</td>
                <td><a href="event-form.html"><span class="fa fa-pencil"></span> </a><a href=""><span class="fa fa-trash"></span></a></td>
            </tr>
            <tr>
                <td>May Day</td>
                <td>2 months</td>
                <td>National</td>
                <td><a href=""><span class="fa fa-pencil"></span> </a><a href=""><span class="fa fa-trash"></span></a></td>
            </tr>
            <tr>
                <td>Palm Sunday</td>
                <td>30 days</td>
                <td>Reconcilers Int</td>
                <td><a href=""><span class="fa fa-pencil"></span> </a><a href=""><span class="fa fa-trash"></span></a></td>
            </tr>
            <tr>
                <td>Palm Sunday</td>
                <td>30 days</td>
                <td>Reconcilers Int</td>
                <td><a href=""><span class="fa fa-pencil"></span> </a><a href=""><span class="fa fa-trash"></span></a></td>
            </tr>
            <tr>
                <td>Palm Sunday</td>
                <td>30 days</td>
                <td>Reconcilers Int</td>
                <td><a href="event-form.html"><span class="fa fa-pencil"></span> </a><a href=""><span class="fa fa-trash"></span></a></td>
            </tr>
        </table>
    </div>
  </div>
</div>
  </div> 
 <!-- end main -->
    <script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/jquery.nicescroll.min.js"></script>      
    <script type="text/javascript" src="../js/functions.js"></script>             

</body>
</html>